*{
    margin=0;
    padding=0;
}
.header{
    text-align: center;
    width :1000px;
    padding-left=100px;
}
.many{
    width=1000px;
    background-image: url(assets/images/woman.jpg);
    background-size: 100%;
    background-repeat:no-repeat
}